---
applications:
- name: ruby-sinatra-example-app
  memory: 128M
  instances: 1
  host: ruby-sinatra-example-app
  domain: api.run.pivotal.io
  buildpack: https://github.com/sgatlewa/ruby-buildpack#v1.4.2
  path: .
  command: ruby app.rb
